# For Local Deploys only
# Fill it in and rename it to .env if you are deploying on a Local Machine / VPS


API_ID=24394477
API_HASH=b7bf7b4ddaf7c8f81c9e7575ad7a2ac1
SESSION=BQF0Ou0Amyh5_9fQPfz6hDtBSHIHjuQ2xOG8UmymM-qo2a7mVAH-cbQbjcAlUQNJuo5Lnj2iyTTnK0XBqz3abcrPR59Zyv8FGBrmZ8lqrtpFZODpe3AG4n6EKCo6oApbVTBzu8Si30bhqxoLTbRe27Af_-Er7sTvSBf4LTLO2j-IAReaRtWaBNEeABSajpioyxFX-i-8WFjPlv0bySg9O0TU2Ey01oTSB_JX0aBdnLMyQcVUJ1i2dbiWmFkao4EEs8f458tg0dhgyZAlnq7qq4texL0sSjKEZl3rjo0Zf-vBnteDzDKQuDu6zA2twN1KsxgcjiGGtpyWKcy3YOpKnyK2yjhWmwAAAAGWSmGJAA
HNDLR=/
